@import 'variables';
@import 'transitions';

body {
  margin: 0;
  padding: 0;
  background-color: $color-primary-light;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  color: $color-text;
}

.app-text-primary {
  color: $color-text;
}

.app-text-secondary-light {
  color: $color-secondary-light;
}